.dark_mode_switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.dark_mode_switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    background-color: #22272e;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #22272e;
    transition: 0.4s;
    color: white;
    font-family: OpenSans, sans-serif;
    font-weight: bold;
    /*justify-content: center;*/
}

.badge-base.LI-profile-badge{
    margin: 20px;
}

@font-face {
    font-family: "OpenSans";
    src: url("/fonts/OpenSans-Bold.ttf") format("ttf");
}

#links{
    display: flex;
    flex-direction: row;
}
#github{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
}

#linkedin{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
}

#resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
}

#links img{
    margin: 20px;
    width: 20vw;
}

#change_mode{
    display: flex;
    flex-direction: row;
    align-items: center;
    /*float: bottom;*/
}
#change_mode label{
    margin: 5px;
}

#jokes{
    display: flex;
    flex-direction: row;
}

#chuck{
    margin: 1%;
    padding-top: 20px;
    background: rgba(101, 101, 101, 0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
}

#geeks{
    margin: 1%;
    padding-top: 20px;
    background: rgba(101, 101, 101, 0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
}

#geeks_joke{
    padding-left: 20%;
    padding-right: 20%;
}

#chuck_joke{
    padding-left: 20%;
    padding-right: 20%;
}

#jokes img:hover{
    cursor: pointer;
}